@font-face {
  font-family: 'sourcesans';
  src: url('../../assets/fonts/SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'baskerville';
  src: url('../../assets/fonts/NewBaskervilleStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0px;
  font-family: "sourcesans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  background-color: #e7c6cb;
}

label {
  color: #4a4a4a;
}

input {
  appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
  border: 1px solid #b3b3b3;
  color: #6b6b6b;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-family: "sourcesans", "Helvetica Neue", Arial, sans-serif;
  width: 350px;
  height: 46px;
  align-self: center;
  font-size: 15px;
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0px;
}

button:hover {
  background-color: #313131;
}

input.error {
  border: 2px solid #d66c6c;
}

label.error {
  width: 65px;
  height: 17px;
  font-size: 12px;
  background-color: #f45757;
  color: white;
  text-align: center;
  padding: 7px;
  align-self: center;
  border-radius: 50px;
  position: absolute;
}

#dimensions-error {
  top: 100px;
  left: 340px;
}

#form_height-error {
  left: 338px;
  top: 100px;
}

#form_client-error {
  left: 400px;
  top: 174px;
}

#form_url-error {
  top: 240px;
  left: 400px;
}

#submit_btn {
  font-size: 18px;
}

::-webkit-input-placeholder {
  font-size: 18px;
  color: #aaa;
}

#error-wrapper {
  top: 0;
  right: 0;
  margin: 0 auto;
  width: 365px;
}

#error-wrapper li {
  list-style: none;
  padding: 11px 10px;
  text-align: center;
  margin: 0 auto;
  display: inline;
}

.site-title {
  text-align: center;
  font-family: "baskerville", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.7px;
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.site-title sup {
  font-family: "sourcesans", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  left: -10px;
  position: relative;
}

#granath-bg {
  width: 100%;
  height: 7%;
  pointer-events: none;
  position: absolute;
  background: url(http://dev.granathreklam.se/banners/assets/granathlogo.png);
  background-size: 165px;
  background-position: 50% 12%;
  background-repeat: no-repeat;
  top: 600px;
}

.separator {
  width: 350px;
  border: 0.5px solid #bfa8ac;
  margin: 20px;
  align-self: center;
  margin: 30px auto;
}

#outer-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#inner-wrapper {
  width: 100%;
  height: 100%;
}

#granath-form-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
  text-align: center;
}

#granath-sucess-wrapper {
  display: none;
  flex-direction: column;
  margin: 77px 0;
  text-align: center;
}

#granath-sucess {
  align-self: center;
}

#granath-fail-wrapper {
  display: none;
  flex-direction: column;
  align-self: center;
  margin: 77px 0;
  text-align: center;
}

#granath-fail {
  align-self: center;
}

.after-h3  {
  font-size: 29px;
  margin: 0;
  align-self: center;
}

.after-h4 {
  font-size: 18px;
  margin-bottom: 42px;
}

button.after-btn {
  width: 83px;
  margin: 0 0 0 10px;
}

button.after-btn-error {
  margin: 0 0 0 10px;
}

#preview_url {
  text-align: center;
  width: 300px;
  height: 50px;
}

#check {
  width: 85px;
  margin: 22px;
  opacity: .6;
}

.form-title {
  text-align: center;
  margin: 40px 0;
}

.form-col {
  flex-direction: row;
  margin: 30px 0;
}

.form-col input {
  align-self: center;
  width: 350px;
  height: 45px;
  text-align: center;
}

.dimensions {
  align-self: center;
  flex-direction: column;
}

.dimensions input {
  width: 100px;
}

.dimensions span {
  padding: 0 10px;
}

#output {
  text-align: center;
}

@media only screen and (max-width: 812px) {

  h2 {
    font-size: 30px;
    display: none;
  }

  button {
    width: 100%;
    height: 50px;
    margin: 20px 0;
  }

  .site-title {
    font-size:  37px;
  }

  .site-title sup {
    font-size:  11px;
  }

  #granath-bg {
    top: 610px;
  }

  .form-col input {
    width: 100%;
    height: 40px;
  }

  .dimensions {
      margin: 0 auto;
  }

  .dimensions input {
    width: 43%;
  }

  #dimensions-error, #form_height-error, #form_client-error, #form_url-error {
    display: none;
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
    color: #aaa;
  }

  .form-col {
    width: 100%;
    margin: 20px 0;
  }

  .separator {
    display: none;
  }

  #outer-wrapper {
    width: 100%;
  }

  #inner-wrapper {
    border: 0;
    width: 100%;
  }

  #granath-form-wrapper {
    padding: 10px;
    width: auto;
    height: auto;
  }

  #granath-sucess-wrapper {
    margin: 0 10px;
  }

  #preview_url {
    width: 100%;
  }

  button.after-btn {
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
  }

  #check {
    margin: 42px 22px;
  }
}